<div class="container">
  <div class="menu-toggle" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <img src="/img/logo.png" alt="Logo toolBox Go " class="icono">
  <p>ToolBox Go</p>

  <div class="right-section">
    <button class="btn carro">🛒 </button>
    <button class="btn btn-login">Iniciar sesión</button>
    <button class="btn btn-register">
      Registrarse
    </button>
  </div>



</div>

<div class="overlay"
     [class.visible]="menuAbierto"
     (click)="toggleMenu()">
</div>

<nav class="side-menu" [class.open]="menuAbierto">

  <div class="menu-header">
    <div class="logo-zona">
      <span class="material-symbols-outlined icon-logo">handyman</span>
      <span class="menu-titulo">Menú</span>
    </div>
    <button class="btn-close" (click)="toggleMenu()">
      <span class="material-symbols-outlined">close</span>
    </button>
  </div>

  <ul class="menu-list">
    <li>
      <a href="#" (click)="toggleMenu()">
        <span class="material-symbols-outlined">home</span> Inicio
      </a>
    </li>
    <li>
      <a href="#" (click)="toggleMenu()">
        <span class="material-symbols-outlined">inventory_2</span> Catálogo
      </a>
    </li>
    <li>
      <a href="#" (click)="toggleMenu()">
        <span class="material-symbols-outlined">sell</span> Principales ofertas
      </a>
    </li>
    <li>
      <a href="#" (click)="toggleMenu()">
        <span class="material-symbols-outlined">schedule_send</span> Programar pedido
      </a>
    </li>
  </ul>

  <div class="menu-footer">
    <div class="menu-item-footer">
      <div class="avatar-circle">
        <span class="material-symbols-outlined">person</span>
      </div>
      <span>Mi perfil</span>
    </div>

    <div class="menu-item-footer link-ajustes">
      <span class="material-symbols-outlined">settings</span>
      <span>Ajustes</span>
    </div>
  </div>

</nav>

<div class="contenedor2">
  <h1 class="titulo">Encuentra tus herramientas</h1>

  <div class="search-box">
    <input type="text" class="buscador" placeholder="¿Qué herramienta necesitas?">
    <button class="btn-catalogo">Catálogo completo</button>
  </div>
  <button class="btn-extra"
          (click)="realizarBusqueda()"
          [class.loading-active]="cargando"
          [disabled]="cargando">

    <span *ngIf="!cargando">
      🔍 Buscar
    </span>

    <span *ngIf="cargando" class="spinner-container">
      <span class="spinner"></span> Buscando...
    </span>

  </button>
  <div class="contenedor-accesibilidad">
    <div class="reto-daltonismo" id="cuadroDaltonismo">
      <h3>Filtros de daltonismo</h3>
      <button class="btn-tipo deuteranopia" (click)="activarModo('deuteranopia')">Deuteranopia</button>
      <button class="btn-tipo protanopia" (click)="activarModo('protanopia')">Protanopia</button>
      <button class="btn-tipo" (click)="desactivarModo('daltonismo')">Sin filtros</button>
    </div>

    <div class="reto-lectura" id="cuadroLectura">
      <h3>Filtro de lectura</h3>
      <button class="btn-tipo lectura" (click)="activarModo('lectura')">Lectura adaptada</button>
      <button class="btn-tipo" (click)="desactivarModo('lecturaDesc')">Lectura normal</button>
    </div>
  </div>
</div>
